[global_config]
[keybindings]
  go_next = None
  go_prev = None
  go_up = <Primary>Up
  go_down = <Primary>Down
  go_left = None
  go_right = None
  hide_window = None
  group_all = None
  broadcast_off = None
  broadcast_group = None
  broadcast_all = None
  layout_launcher = None
  help = None
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    font = Courier 12
    scrollback_infinite = True
    use_system_font = False
[layouts]
  [[default]]
    [[[window0]]]
      type = Window
      parent = ""
    [[[child1]]]
      type = Terminal
      parent = window0
[plugins]
